@import url("https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:400");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  height: 100%;
} /*16px*/

:root {
  --primary-100: #d9f0d3;
  --primary-200: #b2e1a8;
  --primary-300: #8cd17c;
  --primary-400: #65c251;
  --primary-500: #3fb325;
  --primary-600: #328f1e;
  --primary-700: #266b16;
  --primary-800: #19480f;
  --primary-900: #0d2407;
  --white: #fff;
  --black: #000;
  /* fonts  */
  --bodyFont: "Open Sans", sans-serif;
  --headingFont: "Raleway", sans-serif;
  /* grey colors  */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --transition: 0.2s all linear;
  --letter-spacing: 1px;
  --border-radius: 0.25rem;
  --max-width: 1170px;
  --fixed-width: 700px;
  --error-alert: #ca322b;
  --green-alert: #d4edda;
}

/* global styles  */

body {
  background: var(--grey-50);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--black);
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.5rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

ul {
  list-style: none;
}

/*
************
Custom Styles
************
*/
.btn {
  text-transform: capitalize;
  border: transparent;
  background: var(--primary-500);
  display: inline-block;
  border-radius: var(--border-radius);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--letter-spacing);
  color: var(--white);
  transition: var(--transition);
  box-shadow: var(--shadow-1);
  cursor: pointer;
  font-size: 0.875rem;
}

.btn:hover {
  background: var(--primary-600);
  box-shadow: var(--shadow-3);
}

/* Strapi Menu */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading-parent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.9s linear infinite;
}

/*
****************
Body
****************
*/
body {
  background: var(--primary-500);
}

/*
****************
Navbar
****************
*/
nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav-center {
  max-width: var(--max-width);
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-center h3 {
  margin-bottom: 0;
  color: var(--white);
  letter-spacing: 3px;
  text-transform: lowercase;
  font-weight: bold;
  font-family: var(--bodyFont);
  font-size: 1.5rem;
}

.toggle-btn {
  border: transparent;
  color: var(--primary-600);
  width: 2rem;
  height: 2rem;
  font-size: 0.875rem;
  border-radius: var(--border-radius);
  transition: var(--transition);
  cursor: pointer;
}

.toggle-btn:hover {
  transform: scale(1.1);
  color: var(--primary-700);
}

/*
****************
Sidebar
****************
*/
.sidebar {
  background: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
}

.show-sidebar {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.sidebar-container {
  padding: 4rem 2rem;
  position: relative;
}

.close-btn {
  color: var(--primary-500);
  font-size: 2rem;
  background: transparent;
  border: transparent;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  display: block;
}

.close-btn svg {
  transition: var(--transition);
}

.close-btn:hover svg {
  transform: rotate(360deg) scale(0.8);
  color: var(--primary-800);
}

.sidebar-links {
  display: grid;
  row-gap: 3rem;
}

.sidebar-links h4 {
  margin-bottom: 1rem;
  letter-spacing: var(--letter-spacing);
  color: var(--primary-500);
  font-weight: bold;
}

.sidebar-sublinks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(301px, 100%), 1fr));
  row-gap: 1rem;
  column-gap: 0.5rem;
}

.sidebar-sublinks a,
.submenu-links a {
  text-transform: capitalize;
  font-size: 1.2rem;
  color: var(--grey-500);
  cursor: pointer;
}

.sidebar-sublinks li a,
.submenu-links li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 25%;
  flex-grow: 1;
  transition: var(--transition);
}

.sidebar-sublinks li a:hover,
.submenu-links li a:hover {
  background: var(--grey-200);
  padding: 0 0.5rem;
  border-radius: var(--border-radius);
  color: var(--grey-700);
}

.sidebar-sublinks li a svg {
  color: var(--grey-800);
  font-size: 1.5rem;
  height: 2rem;
}

.sidebar-sublinks li a svg:hover {
  color: var(--grey-900);
}

@media (min-width: 680px) {
  .sidebar-sublinks li a {
    font-size: 1rem;
  }
}

@media (max-width: 485px) {
  .sidebar-sublinks {
    gap: 2rem;
  }
}

@media (min-width: 992px) {
  .sidebar,
  .toggle-btn {
    display: none;
  }
}

/*
****************
Hero
****************
*/
.hero-container {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 5rem);
}

.hero-center {
  width: 90%;
  max-width: var(--max-width);
  color: var(--white);
  margin: 0 auto;
}

.hero-center h1 {
  letter-spacing: 3px;
  font-size: clamp(2rem, 5vw, 5rem);
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-center p {
  font-size: 0.875rem;
}

@media (min-width: 992px) {
  .hero-center p {
    max-width: 35rem;
    margin: 0 auto;
  }
}

/*
****************
NavLinks
****************
*/
.nav-links {
  display: none;
}

@media (min-width: 992px) {
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
    align-self: stretch;
  }

  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-self: stretch;
  }

  .nav-links li {
    height: 100%;
  }

  .nav-link {
    letter-spacing: var(--letter-spacing);
    color: var(--white);
    background: transparent;
    border: transparent;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: 0 1rem;
    cursor: pointer;
    transition: var(--transition);
    height: 100%;
  }

  .nav-link:hover {
    color: var(--grey-200);
  }
}

/*
****************
SubMenu
****************
*/
.submenu {
  display: none;
}

@media (min-width: 992px) {
  .submenu {
    display: block;
    position: fixed;
    top: 6rem;
    left: 50%;
    max-width: var(--max-width);
    width: 90%;
    background: var(--white);
    padding: 2rem;
    border-radius: var(--border-radius);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transform: rotateX(-90deg) translateX(-50%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    perspective: 1000px;
  }

  .show-submenu {
    opacity: 1;
    visibility: visible;
    z-index: 10;
    transform: rotateX(0deg) translateX(-50%);
  }

  .show-submenu h5 {
    letter-spacing: var(--letter-spacing);
    margin-bottom: 1rem;
    color: var(--primary-500);
    font-weight: bold;
  }

  .submenu-links ul {
    display: grid;
    gap: 0.5rem;
  }

  .submenu-links a {
    font-size: 1rem;
  }

  .submenu-links li a svg {
    font-size: 1rem;
    color: var(--grey-800);
    height: 1rem;
    transition: var(--transition);
  }

  .submenu-links li a svg:hover {
    color: var(--grey-500);
  }
}
