@import url("https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:400");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  height: 100%;
} /*16px*/

:root {
  --primary-100: #d9f0d3;
  --primary-200: #b2e1a8;
  --primary-300: #8cd17c;
  --primary-400: #65c251;
  --primary-500: #3fb325;
  --primary-600: #328f1e;
  --primary-700: #266b16;
  --primary-800: #19480f;
  --primary-900: #0d2407;
  --white: #fff;
  --black: #000;
  /* fonts  */
  --bodyFont: "Open Sans", sans-serif;
  --headingFont: "Raleway", sans-serif;
  /* grey colors  */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --transition: 0.2s all linear;
  --letter-spacing: 1px;
  --border-radius: 0.25rem;
  --max-width: 1170px;
  --fixed-width: 700px;
  --error-alert: #ca322b;
  --green-alert: #d4edda;
}

/* global styles  */

body {
  background: var(--grey-100);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--black);
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.5rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

ul {
  list-style: none;
}

/*
************
Custom Styles
************
*/
.btn {
  text-transform: capitalize;
  border: transparent;
  background: var(--primary-500);
  display: inline-block;
  border-radius: var(--border-radius);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--letter-spacing);
  color: var(--white);
  transition: var(--transition);
  box-shadow: var(--shadow-1);
  cursor: pointer;
  font-size: 0.875rem;
}

.btn:hover {
  background: var(--primary-600);
  box-shadow: var(--shadow-3);
}

/* Task Manager */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading-parent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.9s linear infinite;
}

.main {
  padding: 5rem 0;
  height: 100vh;
}

.section {
  margin: 0 auto;
  max-width: var(--fixed-width);
  min-width: fit-content;
  background: var(--white);
  box-shadow: var(--shadow-2);
  border-radius: var(--border-radius);
  padding: 2rem 1.75rem;
  display: grid;
  align-items: center;
  row-gap: 1rem;
  transition: var(--transition);
}

.section h2 {
  font-size: 1.5rem;
  letter-spacing: var(--letter-spacing);
  margin-bottom: 0;
  text-align: center;
}

.section:hover {
  box-shadow: var(--shadow-3);
}

.form {
  max-width: var(--fixed-width);
  display: grid;
  grid-template-columns: 1fr auto;
}

.form-input {
  padding: 0.25rem 0.875rem;
  border: transparent;
  /* background: transparent; */
  border: 1px solid var(--grey-200);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  background: var(--grey-100);
  min-width: 100%;
}

.form-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.form-btn:hover {
  box-shadow: var(--shadow-3);
}

.items {
  display: grid;
  row-gap: 1rem;
}

.item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1rem;
  align-items: center;
}

.item p {
  margin-bottom: 0;
  font-family: var(--headingFont);
  letter-spacing: var(--letter-spacing);
  color: var(--grey-600);
  max-width: var(--fixed-width);
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  align-items: center;
}

.edit-btn,
.delete-btn {
  font-size: 1.5rem;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}

.edit-btn {
  color: #06b6d4;
}

.delete-btn {
  color: #b91c1c;
}

.edit-btn:hover,
.delete-btn:hover {
  background: var(--grey-300);
  transform: scale(0.8);
}

.btn-clear-items {
  background: var(--error-alert);
  opacity: 0.9;
  letter-spacing: 2px;
  font-family: var(--headingFont);
  font-weight: bold;
  width: 50%;
  margin: 0 auto;
  transition: var(--transition);
}

.btn-clear-items:hover {
  background: #b91c1c;
  opacity: 1;
}
